/*
 THEME NAME: DigiTheme
 AUTHOR: Digilite Web Solutions
 VERSION: 3.0
 */
/*DEFAULT CSS*/
* {
	outline: none !important;
	text-decoration: none !important;
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0 !important;
	font-size: 18px;
	font-weight: 200;
	color: #fff;
	line-height: 1.3;
	position: relative;
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
}

a,
a:hover,
a:focus {
	color: white;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.transition {
	transition: .5s;
}

.relative-parent {
	position: relative;
}

.absolute-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

.absolute {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 20;
}

.alpha {
	padding-left: 0;
}

.omega {
	padding-right: 0;
}

.page-404 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	max-width: 100%;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    padding: 6px 0px 5px;
    text-align: left;
}

h1 {
	font-family: 'Montserrat', sans-serif;
  	font-weight: 400;
    font-size: 48px;
    color: #fff;
    margin-bottom: 24px;
}

.bold-title {
	font-family: 'Montserrat', sans-serif;
  	font-weight: 700;
}

h3 {
	font-family: 'Montserrat', sans-serif;
  	font-weight: 300;
	font-size: 32px;
	color: #fff;
}

h2 {
	font-size: 48px;
	font-family: 'Montserrat', sans-serif;
  	font-weight: 400;
	color: #fff;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
}

h5 {
	font-family: 'Montserrat', sans-serif;
  	font-weight: 600;
	font-size: 18px;
	color: #131E29;
}


.dark-title {
	color: #131E29;
}

/* .row {
	margin-left: -12px;
	margin-right: -12px;
}

.container,
[class*="col-"] {
	padding-left: 12px;
	padding-right: 12px;
} */

/*MAIN CSS*/
.header-items {
	justify-content: space-between;
}
.cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.fill-button-gold {
	background-color: #D3BC8D;
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
	padding: 16px 32px;
	display: inline-block;
	font-size: 14px;
	margin-top: 30px;
	transition: 0.2s;
	border: 2px solid #D3BC8D;
}

.fill-button-gold:hover {
	background-color: unset;
	color: #D3BC8D;
}

.page-title {
	color: #D3BC8D;
	font-size: 18px;
}

.page-title::before {
    display: inline-block;
    content: "";
    border-top: 2px solid #D3BC8D;
    width: 4rem;
    margin-right: 12px;
    transform: translateY(-6px);
}

/* HEADER */

.mobile-menu {
    height: 100%;
    overflow-y: scroll;
	position: fixed;
    background-color: #fff;
    z-index: 12;
    width: 100%;
    top: 0;
	left: 0;
    visibility: hidden;
    display: none;
	transition: 0.2s;
	background-color: #131E29;
}

.visible {
    visibility: visible !important;
    display: block !important;
}

header {
	padding: 48px 0;
	position: absolute;
    width: 100%;
	background: linear-gradient(180deg, rgba(19, 30, 41, 0.9) 0%, rgba(19, 30, 41, 0.78) 74.48%, rgba(19, 30, 41, 0) 100%);
}

.phone-number a {
	font-family: 'Montserrat', sans-serif;
  font-weight: 700;
	font-size: 16px;
	color: #fff;
}

.button-gold {
	font-family: 'Montserrat', sans-serif;
  	font-weight: 700;
	color: #D3BC8D;
	text-transform: uppercase;
	border: 2px solid #D3BC8D;
	padding: 16px 30px;
	font-size: 14px;
	transition: 0.2s;
}

.button-gold:hover {
	background-color: #D3BC8D;
	color: #244A57;
}

#burger-icon {
	width: 30px;
	height: 19px;
	position: absolute;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
	z-index: 99;
	display: none;
	right: 34px;
}

header .container {
	margin: 0 auto;
}

.main-menu li {
	list-style-type: none;
}

.main-menu .sub-menu {
	padding: 12px;
    background-color: #fff;
    border-radius: 8px;
    position: absolute;
    top: 30px;
    width: fit-content;
    min-width: 250px;
    z-index: 99999;
	display: none;
}

.main-menu .menu-item-has-children:hover .sub-menu {
	display: block;
	
}

.main-menu .menu-item-has-children {
	position: relative;
	padding-bottom: 15px;
}

.main-menu .sub-menu::after{
    content: '';
    position: absolute;
    left: 7%;
    top: -5%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    clear: both;
}

.main-menu .sub-menu li {
	list-style-type: none;
	padding: 10px 0;
}

.main-menu .sub-menu li a {
	font-size: 14px;
	color: #181C25 !important;
	font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* Hero */

.home-hero {
	padding: 276px 0 44px 0px;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 276px 0 42px 0px;
}


.hero-info {
	
}

/* Navigation */

header nav #menu-main-menu-1 {
	display: flex;
	justify-content: center;
	margin-top: 36px;
}

nav #menu-main-menu-1>.menu-item {
	padding-left: 16px;
	padding-right: 16px;
}

nav #menu-main-menu-1>.menu-item:first-child {
	padding-left: 0;
}

nav #menu-main-menu-1 .menu-item a {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
  	font-weight: 400;
	  font-size: 16px;
}

nav #menu-main-menu-1 .menu-item:first-child {
	margin-left: 0;
}

/* Mobile Nav */

.mobile-menu {
	padding: 32px 24px;
}

.term-info p {
	color: #131E29;
}

.mobile-menu nav {
	margin-top: 62px;
}

.mobile-main-menu .menu-item {
	padding-left: 0 !important;
	padding-bottom: 32px !important;
	list-style-type: none;
}

.mobile-main-menu .menu-item a {
	font-size: 20px;
	color: #fff;
}

.mobile-menu .call_to_action {
	display: block;
}

.mobile-menu .call_to_action a {
	display: block;
	max-width: 310px;
	text-align: center;
	width: 260px;
	padding: 16px 5px;
}

.mobile-menu .mobile-main-menu {
	padding-left: 0;
	margin-top: 62px;
}

.mobile-menu .main-menu .sub-menu {
	position: unset;
}

.mobile-main-menu .sub-menu {
	display: none;
	padding-top: 15px;
    padding-left: 20px;
}

.mobile-main-menu .sub-menu .menu-item {
	padding-bottom: 16px !important;
}

.mobile-main-menu .sub-menu .menu-item:last-child {
	padding-bottom: 0 !important;
}

.mobile-menu .ft-logos img:first-child {
	width: 100px;
	margin-left: 0;
}

.mobile-menu .ft-logos img:last-child {
	width: 92px;
	margin-left: 15px;
	height: auto;
}

.mobile-menu .footer-social a {
	font-size: 16px;
}


/* Front Page */

.book-request {
	padding: 100px 0 100px 0;
}

.gform_heading {
	display: none;
}

.choose-view {
    border-bottom: 1px solid #D3BC8D;
	padding-bottom: 15px;
}

.join_today {
	max-width: 700px;
}

.frm_fly {
	padding: 15px 0 24px 0;
}

.view-book {
	background-color: #fff0;
    color: #D3BC8D;
    border: none;
	font-size: 24px;
    width: 100%;
	overflow: hidden;
	overflow: -moz-hidden-unscrollable;
	background: url(img/select_arrow.svg) no-repeat right;
	text-transform: uppercase;
	-webkit-appearance: none;
}

.view-book:after {
	content: '<>';
	font: 17px "Consolas", monospace;
	color: #333;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	right: 11px;
	top: 18px;
	padding: 0 0 2px;
	border-bottom: 1px solid #999;
	position: absolute;
	pointer-events: none;
}

.frm_fly input[type="text"], .frm_fly textarea {
	background-color: #fff0 !important;
    border-bottom: 1px solid #D3BC8D !important;
    border-top: none !important;
	border-left: none !important;
	border-right: none !important;
    border-radius: 0 !important;
	font-size: 12px !important;
	font-family: 'Montserrat', sans-serif !important;
  	font-weight: 400 !important;
	color: #fff !important;
	padding-left: 0 !important;
}

.gfield_label {
	color: #fff;
	color: #fff !important;
}

.frm_fly input:focus, .frm_fly textarea:focus {
	border-bottom: 1px solid #D3BC8D !important;
    border-top: none !important;
	border-left: none !important;
	border-right: none !important;
    border-radius: 0 !important;
	box-shadow: none !important;
}

.frm_fly input::placeholder {
	opacity: 1;
	color: #fff !important;
}

.frm_fly textarea::placeholder {
	opacity: 1;
	color: #fff !important;
}


.gform_button {
	background-color: #D3BC8D !important;
	font-family: 'Montserrat', sans-serif !important;
  	font-weight: 700 !important;
	padding: 16px 32px !important;
	display: inline-block !important;
	font-size: 14px !important;
	margin-top: 30px !important;
	transition: 0.2s !important;
	border: 2px solid #D3BC8D !important;
	text-transform: uppercase !important;
	border-radius: 0 !important;
}

.gform_button:hover {
	background-color: unset !important;
	color: #D3BC8D !important;
}

.join_today, .get_in_touch {
	display: none;
	transition: 0.2s;
}

.services-carousel img {
	height: 240px;
	object-fit: cover;
}

.general-title {
	margin-bottom: 24px;
	text-transform: uppercase;
}

.services-carousel {
	position: absolute;
	right: -100px;
	width: 50%;
	top: 460px;
}

.service-info {
	background-color: #fff;
	padding: 10px;
	width: 100%;
}

.pr-title-desc {
	max-width: 496px;
}

.service_title {
	color: #131E29;
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 5px
}

.service_subtitle {
	font-size: 12px;
	color: #131E29;
	font-family: 'Montserrat', sans-serif;
  font-weight: 400;
	text-transform: uppercase;
}

.main-carousel.owl-carousel .owl-item {
	transition: 0.4s;
}

.main-carousel.owl-carousel .center + .owl-item {
	margin-top: 40px !important;
}

.main-carousel.owl-carousel .center {
	margin-top: 20px !important;
}

.main-carousel .owl-controls {
	position: absolute;
    width: 100px;
    left: -120px;
	bottom: 35px;
}

.main-carousel .owl-nav {
	display: flex;
}

.main-carousel .owl-prev {
	transition: 0.2s;
	margin-right: 22px;
}

.main-carousel .owl-next {
	transition: 0.2s;
}

.main-carousel .owl-prev:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.main-carousel .owl-prev:hover path {
	stroke: #D3BC8D;
}

.main-carousel .owl-next:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5);
}
  
.main-carousel .owl-next:hover path {
	stroke: #D3BC8D;
}

.services-back {
	padding: 0;
}


.services-back img {
	width: 100%;
}

.services-list {
	padding: 0;
	background: linear-gradient(180deg, #060A0E 2.62%, rgba(19, 30, 41, 0.78) 51.95%, #0D151D 69.67%);
}

.services-list .s-1 {
	background-color: #ffffff40;
	backdrop-filter: blur(4px)
}

.services-list .service-item {
	padding: 53px 0 56px 15px;
}

.services-list .service-item p {
	font-size: 20px;
	line-height: 140%;
	margin-top: 32px;
}

.services-list .s-2 {
	background-color: #d3bc8d52;
    backdrop-filter: blur(4px);
}

.services-list .s-3 {
	background-color: #75787b33;
    backdrop-filter: blur(4px);
}

.learn-more {
	display: block;
    max-width: 178px;
	margin-top: 47px;
	text-align: center;
}

/* Call to */

.call-to {
    background-repeat: no-repeat;
    background-position: right bottom;
}

.call-to-action {
	padding: 200px 0;
	background-repeat: no-repeat;
    background-position: center center;
}

.owl-carousel 
{
    touch-action: manipulation; 
}


/* Aircraft Managment */

.twc_image_text {
	margin-top: 98px;
}

.acc-title {
	border-bottom: 1px solid #131E29;
	padding-bottom: 10px;
}

.twc_ds {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 2vw;
}

.accordion .card-header {
	background-color: #fff;
}

.accordion .card:first-child {
	border-top: none;
} 

.accordion .card-header {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
	padding-left: 0;
	padding: 6px 0;
}

.accordion .card {
	border: none;
}

.accordion .acc-title .btn-link::after {
	content: "";
    position: absolute;
    width: 20px;
    height: 30px;
    right: 15px;
    background-image: url(img/arrow.svg);
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: center;
	
}

.accordion .acc-title .btn-link[aria-expanded="true"]::after {
	transform: rotate(180deg);
}

.accordion .acc-title .btn-link {
	width: 100%;
	text-align: left;
	position: relative;
}

.accordion button {
	font-family: 'Montserrat', sans-serif;
  font-weight: 600;
    font-size: 18px;
    color: #131E29;
	padding-left: 0;
}

.accordion button:hover {
	color: #131E29;
}

.accordion .card-body {
	font-family: 'Montserrat', sans-serif;
  font-weight: 400;
    color: #131E29;;
    line-height: 21px;
	padding-left: 0;
}

.benefits_title {
	color: #131E29;
	text-transform: uppercase;
}

.the_benefits {
	padding: 100px 0;
}


/* Contact */

.cities {
	padding-bottom: 80px;
}

.subtitle {
	font-size: 24px;
}

.page-template-contact-page .subtitle {
	margin-top: 20px;
}

.city-desc {
	font-size: 20px;
}

.city-address {
	line-height: 30px;
	font-size: 20px;
}

.city-phone {
	font-size: 20px;
	color: #fff;
	margin-top: 30px;
    display: block;
}

.city-phone:hover {
	color: #fff;
}

.ct-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 24px;
}

.ct-image img {
	width: 100%;
	height: auto;
}

.ct-image {
	margin-top: 24px;
}

/* Purchasing */

.half-width.pr-image img {
	width: 100%;
	height: auto;
}

.pr-bg-right {
	padding-left: 116px;
}

.pr-bg-left {
	display: flex;
    flex-direction: row;
    padding-right: 116px;
    align-items: center;
}

.pr-bg-right.pr-info {
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.pr-bg-right {
	background-image: url('img/bakc_s.svg');
	background-repeat: no-repeat;
	background-size: contain;
    background-position-x: 130%;
    background-position-y: 80%;
}

.pr-bg-left {
	background-image: url('img/bakc_s.svg');
	background-repeat: no-repeat;
	background-size: contain;
    background-position-x: -30%;
    background-position-y: 80%;
}

.half-width {
	width: 50%;
}

.page-template-purchasing-page .home-hero {
	padding: 276px 0 100px 0px;
}

.purchasing-item {
	width: 100%;
	justify-content: space-between;
}

.pr-title {
	color: #131E29;
	font-size: 32px;
}

.pr-desc {
	color: #131E29;
	margin-top: 20px;
}

/* Safety */

.sft_text_with_image {
	margin-bottom: 100px;
	background-image: url('img/argus.png');
	background-position: left center;
	background-size: contain;
}

.sft_text_with_image h2 {
	color: #131E29;
}

.sft_text_with_image p {
	color: #131E29;
}

/* Company */

.company-hero .twc_ds {
	display: block;
}

.company-hero .twc_ds h4 {
	font-size: 32px;
	font-family: 'Montserrat', sans-serif;
font-weight: 300;
	color: #fff;
}

.company-hero .twc_image_text img {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0px 16px 24px 0px #00000080;
}

.twc_image_text img {
	box-shadow: 0px 16px 24px 0px #00000080;
}

.quote {
	padding: 25px 0;
	box-shadow: 8px 8px 8px rgba(19, 30, 41, 0.16);
	border-radius: 40px;
}

.quote-icon {
    background-image: url(img/quote.svg);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    top: -15px;
    left: -25px;
}

.quote-message {
	font-size: 48px;
	color: #131E29;
	letter-spacing: 0.02em;
	font-family: 'Montserrat', sans-serif;
  font-weight: 300;
	font-weight: 250;
	text-transform: uppercase;
}

.mission .mission-title {
	color: #131E29;
	text-transform: uppercase;
	max-width: 250px;
}

.mission .mission-desc {
	color: #131E29;
}

.mission .twc_image_text img {
	filter: drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.5));
}

.mission-image {
	text-align: left;
}

.corporate {
	margin-top: 100px;
}

.corporate .accordion {
	max-width: 496px;
}

.testimonial_desc {
	background-color: #131E29;
	padding-bottom: 100px;
}

.testimonials .test-title {
	color: #131E29;
	text-transform: uppercase;
}

.testimonials .test-desc {
	padding-top: 16px;
}

.testimonials {
	position: relative;
	margin-top: 100px;
}

.testimonial-block {
	position: absolute;
    top: 0;
    right: -29%;
    width: 78%;
}

.testimonial-item {
	background-color: #fff;
	max-width: 490px;
	border-radius: 10px;
	padding: 24px;
	box-shadow: 3px 3px 14px -5px;
}

.testimonial-item p {
	color: #131E29;
}

.testimonials .owl-stage {
	display: flex;
}

.testimonials .owl-stage .owl-item {
	display: flex;
}

.testimonial-item .name {
	color: #D3BC8D !important;
	font-size: 24px;
}

.testimonial-item .prof {
	color: #131E29;
	font-size: 16px;
}

.testimonial-item .tdesc {
	color: #131E29;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
      font-weight: 300;
	line-height: 20px;
}

.testimonial-carousel .owl-controls {
	position: absolute;
    width: 100px;
    left: -120px;
	bottom: 0;
}

.testimonial-carousel .owl-nav {
	display: flex;
}

.testimonial-carousel .owl-prev {
	transition: 0.2s;
	margin-right: 22px;
}

.testimonial-carousel .owl-next {
	transition: 0.2s;
}

.testimonial-carousel .owl-prev:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.testimonial-carousel .owl-prev:hover path {
	stroke: #D3BC8D;
}

.testimonial-carousel .owl-next:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5);
}
  
.testimonial-carousel .owl-next:hover path {
	stroke: #D3BC8D;
}


/* Fleet */

.fleet {
	margin-top: 45px;
}

.single-fleet .page-title.bold-title {
	text-transform: uppercase;
}

.tab {
	display: flex;
}

.tablinks {
	width: 25%;
	border: none;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	padding: 25px 0;
	position: relative;
}

.tablinks.tab_1 {
	background-color: #464c51ba;
}

.tablinks.tab_2 {
	background-color: #d3bc8d42;
}

.tablinks.tab_3 {
	background-color: #464c5163;
}

.tablinks.tab_4 {
	background-color: #75787b08;
}

.tablinks::after {
	background-image: url(img/arrow_tab.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.tab_1::after{
    content: '';
    position: absolute;
    right: 7%;
    bottom: -15px;
    width: 30px;
    height: 15px;
	background-color: #464c51ba;
	border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
}

.tab_2::after{
    content: '';
    position: absolute;
    right: 7%;
    bottom: -15px;
    width: 30px;
    height: 15px;
	background-color: #d3bc8d42;
	border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
}

.tab_3::after{
    content: '';
    position: absolute;
    right: 7%;
    bottom: -15px;
    width: 30px;
    height: 15px;
	background-color: #464c5163;
	border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
}

.tab_4::after{
    content: '';
    position: absolute;
    right: 7%;
    bottom: -15px;
    width: 30px;
    height: 15px;
	background-color: #75787b08;
	border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
}

.tablinks.active::after {
	background-image: url(img/arr_tab_top.svg);
	background-position-y: 0px;
}

.air-item {
	position: relative;
}

.air-info {
	position: absolute;
    bottom: 0;
    background: #ffffff24;
    width: 100%;
	padding: 12px 12px;
}

.air-title {
	color: #fff;
	font-size: 16px;
}

.air-type {
	font-family: 'Montserrat', sans-serif;
  font-weight: 300;
	color: #FFFFFF;
	font-size: 12px;
	margin-bottom: 5px;
}

.air-thumb img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.fleet-desc {
	color: #131E29 !important;
}

.fleet-title {
	color: #131E29 !important;
	text-transform: uppercase;
}

.fleet-title::before {
	border-top: 2px solid #131E29 !important;
}

.fleet-tab-content {
	padding: 100px 0;
}

.page-template-fleet-page .home-hero {
	padding: 276px 0 18px 0px;
}

.tabcontent {
	animation: fadeEffect 1s; /* Fading effect takes 1 second */
	display: none;
  }

  .tabcontent#light-jet {
	  display: block;
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
  }



/* Block Charter */

.two-image img {
	width: 100%;
	height: auto;
}


/* Private Jet Charter */

.white-section {
	height: 40%;
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
    align-items: flex-end;
}

.blue-section {
	height: 60%;
	background-color: #131e29;
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
    align-items: flex-start;
}

.mobile-jet {
	display: none;
}

.services-template-single-services-private-jet-charters .pr-bg-right {
	background-image: url(img/s_s.svg);
}

.services-template-single-services-private-jet-charters .pr-bg-left {
	background-image: url(img/s_s.svg);
}

.jet-images-text {
	background-color: #131E29;
}

.jet-images-text .jet-text-blocks h4 {
	font-weight: 700;
	font-size: 24px;
	color: #D3BC8D;
	position: relative;
	text-transform: uppercase;
}

.private-jet-servies {
	padding: 100px 0 60px 0;
}

.jet-images-text .jet-text-blocks h4::before {
    content: '\27A4';
    display: block;
    width: 22px;
    height: 22px;
    top: -10px;
    left: -55px;
    margin: 10px 5px 0 10px;
    position: absolute;
}

.jet-service-title {
	font-size: 40px;
	color: #131E29;
	font-family: 'Montserrat', sans-serif;
  font-weight: 400;
	padding-top: 65px;	
}

.jet-service-desc {
	margin-top: 50px;
}

.jet-s-item {
	background-color: #fff;
	padding: 24px;
	border-radius: 10px;
	border-left: 12px solid #D3BC8D;
	margin-top: 34px;
}

.jet-s-title {
	font-size: 24px;
	color: #131E29;
}

.jet-s-description {
	color: #131E29;
}

.jet-icon {
	display: flex;
	justify-content: end;
}

.jet-description {
	border: 10px solid transparent;
	border-image: url('img/border.svg') 30 round;
	background-repeat: no-repeat;
	background-size: contain;
	padding: 16px 0 16px 16px;
	height: 260px;
	border-image-width: auto;
	margin-top: 34px;
}

.jet-description p{
	font-size: 14px;
	color: #D3BC8D;
	font-family: 'Montserrat', sans-serif;
  	font-weight: 400;
}

/* Single Airplane */

.lb-item {
	margin-top: 30px;
}

.lb-item img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.ekko-lightbox .modal-body {
	padding: 0;
}

.single-fleet .gallery-item img {
	border: none !important;
}

.specifications {
	margin-top: 40px;
}

.specifications strong {
	font-size: 18px;
	color: #D3BC8D;
	font-family: 'Montserrat', sans-serif;
  	font-weight: 700;
}

.spec-item {
	display: flex;
	justify-content: space-between;
	padding: 16px 0;
	border-bottom: 1px solid #D3BC8D;
}

.spec-item:first-child {
	padding-top: 0 !important;
}

.spec-item p {
	margin-bottom: 0;
}

.spec-label {
	font-family: 'Montserrat', sans-serif;
  font-weight: 300;
	font-size: 16px;
	color: #D3BC8D;
}

.spec-value {
	font-size: 16px;
	color: #D3BC8D;
	max-width: 300px;
	line-height: 24px;
}

.specification-content p {
	margin-bottom: 24px;
}


.specification-content .gallery {
	padding-top: 6px;
}

.related {
	padding: 100px 0;
}

/* News & Stories */

.news-stories {
	background: linear-gradient(180deg, #131E29 10.3%, rgba(19, 30, 41, 0.88) 62.92%, #131E29 100%);
	padding-bottom: 80px;
}

.tablinks_blog {
	width: 50%;
	border: none;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	padding: 25px 0;
	position: relative;
}

.news-categories {
	margin-top: 48px;
}

.tablinks_blog::after {
	background-image: url(img/arrow_tab.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.tablinks_blog.tab_1 {
	background-color: #ffffff24;
}

.tablinks_blog.tab_2 {
	background-color: #d3bc8d4a;
}

.tabcontent#news {
	display: block;
}

.tablinks_blog.tab_1::after{
    content: '';
    position: absolute;
    right: 48%;
    bottom: -15px;
    width: 30px;
    height: 15px;
	background-color: #ffffff24;
	border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
}

.tablinks_blog.tab_2::after{
    content: '';
    position: absolute;
    right: 48%;
    bottom: -15px;
    width: 30px;
    height: 15px;
	background-color: #d3bc8d4a;
	border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
}

.post-item {
	position: relative;
	min-height: 288px;
	margin-top: 24px;
}

.fleet-tab-content .post-meta, .single-fleet .post-meta{
	display: none;
}

.news-stories .air-type {
	display: none;
}

.post-info {
	position: absolute;
    bottom: 0;
	background: #131e29bd;
    width: 100%;
    padding: 12px 12px;
}

.single-post .post-info, .news-stories  .post-info {
	height: 100px;
}

.single-fleet .post-info, .fleet-item .post-info {
	height: auto;
}

.post-info .post-title {
	font-size: 16px;
	color: #fff;
}

.post-meta {
	font-family: 'Montserrat', sans-serif;
  	font-weight: 300;
    color: #FFFFFF;
    font-size: 12px;
    margin-bottom: 5px;
	text-transform: uppercase;
}

.single-content {
	background: linear-gradient(180deg, #131E29 10.3%, rgba(19, 30, 41, 0.88) 62.92%, #131E29 100%);
}

.post-item-url {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #0003;
}

.post-icon {
	position: absolute;
	right: 8px;
	top: 8px;
}

.gform_legacy_markup_wrapper .top_label .gfield_label {
	font-family: 'Montserrat', sans-serif !important;
    font-weight: 400 !important;
}

#map {
	height: 500px;
}

.pr-info {
    padding: 1vw 10vw;
}

/* Empty Leg */

.booking {
	padding: 50px 0;
}

.right_desc {
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.right_desc p {
	margin-bottom: 0;
}



.brand__map #map {

}


/* User content */

section.single-content {
	display: flex;
}

.single-thumb {
	width: 100%;
	height: 100%;
}

.user-content p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #fff;
	margin-top: 24px;
}

.user-content p:first-child {
	margin-top: 0;
}

.user-content p:last-child {
	margin-bottom: 0;
}

.user-content a {
	color: #fff;
    text-decoration: underline !important;
}

.user-content h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700 !important; 
	font-size: 32px;
	color: #fff;
	margin-top: 60px;
}

.user-content h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700 !important; 
	font-size: 32px;
	color: #fff;
	margin-top: 60px;
}

.user-content h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #fff;
	margin: 24px 0;
}

.user-content h5 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #fff;
	margin: 24px 0;
}

.user-content ul {
	margin-top: 24px;
}

.user-content ul li, .user-content ol li {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: #fff;
}

.user-content .wp-block-columns:last-child {
	margin-bottom: 0;
}

.related {
	background-color: #131e29;
}

.related-title {
	font-size: 32px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-bottom: 60px;
}


/* Footer */

footer {
	background-color: #131E29;
	padding-top: 48px;
}

.footer-menu {
	padding-left: 0;
}

.footer-menu li a {
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
  	font-weight: 700;
	line-height: 25px;
	color: #fff;
}

.footer-menu .sub-menu li a {
	font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.footer-menu ul {
	padding-left: 0;
}

.footer-menu li {
	list-style-type: none;
}

.footer-logos {
	align-items: center;
}

.footer-logos img {
	margin-left: 50px;
}

footer .copy {
	padding: 23px 0;
	font-size: 14px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.footer-social a {
	color: #fff;
	font-size: 26px;
	margin-right: 10px;
}

.ft-logos {
	align-items: center;
}



/* Large desktops and laptops */
@media (min-width: 1560px) {
.container { 
	max-width: 1440px; 
}

.jet-images-text .jet-text-blocks h4 {
	font-size: 32px;
}

body {
	font-size: 20px;
	line-height: 1.2em !important;
}

h1,h2 {
	font-size: 56px;
}

.fill-button-gold, .button-gold {
	font-size: 16px;
}

.jet-service-title {
	font-size: 48px;
}

.view-book {
	font-size: 32px;
}

.subtitle {
	font-size: 30px;
}

.page-title {
	font-size: 20px;
}

.pr-title {
	font-size: 48px;
}

.pr-title-desc {
	max-width: 620px;
}

.testimonial-item .tdesc {
	font-size: 16px;
}

.testimonial-item .name {
	font-size: 32px;
}

.accordion button {
	font-size: 20px;
}

.pr-info {
    padding: 1vw 9vw;
}

.post-item {
	min-height: 360px;
}

.quote-icon {
    left: -30px;
}

}

@media (max-width: 1212px) {
    h1 {
		font-size: 48px;
	}


    .call_to_action {
		display: none;
	}

	header nav {
		display: none;
	}

	header .phone-number {
		display: none;
	}

	.header-row {
		justify-content: center;
		align-items: center;
	}

	#burger-icon {
		display: block;
	}	
	
	 #burger-icon span {
		display: block;
		position: absolute;
		height: 1px;
		width: 36px;
		background: #D3BC8D;
		opacity: 1;
		transition: .25s ease-in-out;
		right: 0;
	}
	
	
	#burger-icon span:nth-child(2) {
		top: 18px;
	}
	
	#burger-icon span:nth-child(1) {
		top: 9px;
	}	

	#burger-icon.open span:first-child {
		top: 9px;
	}
	
	#burger-icon.open span:first-child {
		transform: rotate(
	45deg);
	}
	
	#burger-icon.open span:nth-child(2) {
		display: none;
	}
	
	#burger-icon.open span:last-child {
		transform: rotate(-45deg);
		top: 9px;
	}

	.container {
		max-width: 1240px;
	}

}

@media (max-width: 1199px) {
	.jet-description {	
		height: 337px;
	}
}



/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 992px) {

}

@media (max-width: 767px) {
	.services-back {
		height: 560px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) { 

}

/* Landscape phones and portrait tablets */
@media (max-width: 991px) {

	body {
		
	}

	.sft_text_with_image  {
		background-image: none;
	}

	.call-to .bold-title {
		font-size: 32px;
	}

	.jet-description {
		height: 430px;
	}
    
	.home-hero {
		padding: 110px 0 44px 0px;
	}

	.logo img {
		width: 130px;
	}

	.header-row {
		justify-content: center;
	}

	.services-carousel {
		position: relative;
		top: 0;
		width: 100%;
		right: -144px;
		margin-top: 60px;
	}

	/* Fleet */

	.tab {
		flex-wrap: wrap;
	}

	.tab .tablinks {
		width: 50%;
	}

	.tab .tablinks:after {
		display: none;
	}

	.page-template-fleet-page .home-hero {
		padding: 110px 0 0 0px !important;
	}

	/* Company */

	.quote-message {
		font-size: 26px;
		text-align: center;
	}

	.quote-icon {
		left: 50px;
	}

	.mission-image {
		text-align: center;
	}

	.testimonial-block {
		position: relative;
		right: -18%;
    	width: 100%;
	}

	.testimonials {
		background-color: #131E29;
	}

	.testimonial_title {
		background-color: #fff;
	}

	.testimonial_desc {
		padding-bottom: 24px;
	}

	.owl-carousel .owl-stage {
		display: flex;
	}

	.owl-carousel .owl-stage .owl-item {
		display: flex;
	}

	/* Purchasing */

	.half-width {
		width: 100%;
	}

	.purchasing-item {
		flex-direction: column;
	}

	.purchasing-item:nth-child(even) {
		flex-direction: column-reverse;
	}

	.pr-bg-left {
		justify-content: start;
	}

	.twc_image_text img {
		width: 100%;
		height: auto;
	}

	.jet-description {
		height: 140px;
	}

	.services-template-single-services-private-jet-charters .two-image .half-width:nth-child(2){
		display: none;
	}

	.private-jet-servies {
		padding: 0;
	}

	.services-back {
		height: 560px;
	}

	.call-to {
		background-image: none !important;
	}

	.call-to-action {
		padding: 70px 0;
	}

	.jet-s-item {
		margin: 0 auto;
		margin-top: 16px;
	}

	.pr-info, .pr-bg-right.pr-info {
		flex-direction: row;
		justify-content: center;
	}

	.pr-title-desc {
		max-width: 100%;
	}

	.page-template-purchasing-page .home-hero {
		padding: 125px 0 100px 0px;
	}

	.service_subtitle {
		margin-bottom: 5px;
	}

	.mobile-jet {
		display: block;
	}

	.blue-section {
		display: none;
	}
	
	.white-section {
		display: none;
	}

	.mobile-jet .jet-service-desc {
		color: #131E29;
	}
}

/* Landscape phones and smaller */
@media (max-width: 544px) {

	.home .book-reques {
		padding: 0px 0 100px 0;
	}
	


	.mobile-main-menu .menu-item {
		list-style-type: none;
	}

	.home .home-hero {
		display: flex;
		flex-direction: column-reverse;
		padding: 60px 0 44px 0px;
	}

	.home .home-hero .hero-info {
		padding-top: 70px;
	}

	body {
		font-size: 14px;
		line-height: 1.2;
	}

	.fill-button-gold {
		font-size: 16px;
	}

	.pr-info {
		padding: 10vw 10vw;
	}

	.jet-images-text .jet-text-blocks h4 {
		font-size: 20px;
	}

	.services-list .service-item p {
		font-size: 14px;
	}

	.home .book-request {
		padding: 0;
	}

	.main-carousel .owl-controls {
		bottom: -50px;
		left: 36%;
	}

	.jet-description {
		height: 260px;
		border-image-width: 29px;
	}

	.footer-logos img {
		width: 130px;
		height: auto;
	}

	.ft-logos {
		justify-content: space-between !important;
		margin-top: 50px;
	}

	.private-jet-servies {
		background: linear-gradient( to bottom, #F2F2F2 0, #F2F2F2 450px, #131e29 270px, #131e29 100% );
	}

	.jet-service-desc {
		color: #000;
	}

	#gallery-2 .gallery-item {
		width: 100% !important;
	}


	.jet-images-text .jet-text-blocks h4::before {
		display: none !important;
	}

	.testimonial-block {
		position: unset;
	}

	.testimonial-item {
		width: 90%;
		margin: 0 auto;
	}

	h1 {
		font-size: 24px;
	}

	.s-title {
		font-size: 24px;
	}

	.s-description {
		font-size: 24px;
	}

	.call-to-action .bold-title {
		font-size: 24px;
	}

	.call-to-action .fill-button-gold {
		width: 100%;
	}

	.jet-service-title {
		font-size: 32px;
	}

	.tab .tablinks {
		width: 100%;
	}

	.tablinks {
		font-size: 18px;
	}

	.page-title.bold-title {
		font-size: 14px;
	}

	.subtitle.bold-title {
		font-size: 14px;
	}

	.twc_image_text h2 {
		font-size: 24px;
	}

	.benefits_title {
		font-size: 24px;
	}

	.the_benefits {
		background: none !important;
		padding: 30px 0;
	}

	.pr-title {
		font-size: 24px;
	}

	.twc_image_text {
		margin-top: 40px;
	}

	.twc_image_text img {
		box-shadow: none;
	}

	.test-title {
		font-size: 24px;
	}

	.mission .twc_image_text img {
		filter: none;
	}

	.city-title {
		font-size: 24px;
	}

	.city-desc, .city-address, .city-phone {
		font-size: 14px;
	}

	.services-carousel {
		right: 0;
	}

	.services-carousel .item {
		width: 100%;
	}

	.view-book {
		font-size: 16px;
	}

	.news-hero {
		padding-bottom: 0 !important;
	}

	.page-template-contact-page .home-hero {
		padding-bottom: 0;
	}

	.page-template-purchasing-page .home-hero {
		padding: 115px 0 100px 0px;
	}

	.quote-message {
		font-size: 14px;
	}

	.quote-icon {
		left: 0;
		width: 50px;
		height: 50px;
		background-size: 33px;
	}

	.ekko-lightbox-container {
		height: fit-content !important;
	}

	.main-carousel.owl-carousel .center {
		margin-top: 0 !important;
	}

	.main-carousel.owl-carousel .center + .owl-item {
		margin-top: 0 !important;
	}

	.testimonial-carousel .owl-controls {
		right: 5px;
		top: -50px;
		left: unset;
	}

	.services-carousel img {
		height: 340px;
	}

}

@media (max-width: 480px) {

}